body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

label {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

input {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  background: #ccc;
}

.checkbox,
.radio {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.checkbox label,
.radio label {
  margin: 0px;
  display: inline-block;
}

.checkbox input,
.radio input {
  margin: 0px;
  width: 20px;
  height: 20px;
}

select {
  font-size: 1.2rem;
  padding: 10px;
}

textarea {
  font-size: 1.2rem;
}

button {
  display: block;
  font-size: 2rem;
  margin-top: 30px;
  padding: 10px 30px;
  background: #caf;
  border: none;
  color: #217;
  border-radius: 4px;
  cursor: pointer;
}

[required] {
  border: 2px solid tomato;
}

/* Aqui o a tem que estar grudado no [href] pois o [href] não está dentro de a e sim o [href] faz parte do a */
a[href="#contato"] {
  border: 2px solid green;
}

/* ^= Quer dizer inicia com (href^="#" => links que iniciam com # */
[href^="#"] {
  background: tomato;
}

/* $= Quer dizer termina com (href$=".com" => links que terminam com .com */
[href$=".com"] {
  background: gold;
}

/* section > h2 Quer dizer que é só para o h2 que é filho direto do section */
section > h2 {
  color: tomato;
}

p {
  margin: 0px;
}

article {
  background: lightgreen;
  padding: 10px;
}

/* Esse é um jeito de tirar a magin-top só so último p: */
/* p {
  margin-bottom: 20px;
}

article p:last-child {
  margin-bottom: 0px;
} */

/* p + p quer dizer que só vai ser selecionado o p que vier após outro p */
p + p {
  margin-top: 20px;
}

/* O * vai selecionar todos os elementos da tela */
* {
  /* border: 1px solid red; */
  color: blue;
}
